.canvas {
  display: none;
  opacity: 0;
}

@import 'character';

.sun {
  transform: translate(-100%, 50%) scale(2);
  transform-origin: 50% 50%;
}
.sun-container {
  animation: rotate-sun 20s infinite linear;
  transform-origin: 300px 600px;
}
.sun-rotation {
  animation: sun-movement 10s infinite linear;
  transform-origin: 50px 50px;
} 

.moon {
  transform: translate(-350%, 800%) scale(2);
}
.moon > line {
  animation: daynightchar 20s infinite linear;
}

.moon-container {
  animation: rotate-moon 20s 9s infinite linear;
  transform-origin: 300px 600px;
}

.ground {
  position: absolute;
  transform: scale(10);
  margin: 840px 0 0 200px;
  stroke-width: 0.25;
}
.ground > line {
  animation: daynightchar 20s infinite linear;
}

@keyframes sun-movement {
  0% {
    transform: rotate(0deg) scale(1) ;
  }
  25% {
    transform: rotate(5deg) scale(0.95);
  }
  75% {
    transform: rotate(-5deg) scale(0.95);
  }
  100% {
    transform: rotate(0deg) scale(1) ;
  }
}
@keyframes rotate-sun {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(125deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-moon {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes daynightchar {
  0% {
    stroke: black;
  }
  25% {
    stroke: black;
  }
  45% {
    stroke: black;
  }
  46% {
    stroke: white;
  }
  78% {
    stroke: white;
  }
  79% {
    stroke: black;
  }
  100% {
    stroke: black;
  }
}