.canvas {
  display: none;
  opacity: 0;
}
@import 'character';

.sun {
  transform: translate(-100px, 5px);
  /*animation: rotate 5s infinite linear;*/
  transform-origin: 50% 50%;
}

.ground {
  display:none;
  transform: scale(2);
  color: transparent;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
.ground-rotation {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}