.character {
  position: absolute;
  width: 80px;
  margin-top: -90px;

}
.head {
  position: absolute;
  margin:10% 0 0 140%;
  stroke-width: 4px;
  color: white;
}
.head > line {
  animation: daynightchar 20s infinite linear;
}
svg {
  
}
.torso {
  position: absolute;
  margin: 242%  0 0 140%;
  stroke-width: 2px;
  transform: scale(0.9);
}
.torso > line {
  animation: daynightchar 20s infinite linear;
}

.right {
  .arm {
    position: absolute;
    margin: 230% 0 0 270%;
    transform: rotateY(180deg) rotate(45deg);
    stroke-width: 2px;
  }
  .arm > line {
    animation: daynightchar 20s infinite linear;
  }

  .leg {
    position: absolute;
    margin: 420% 0 0 260%;
    stroke-width: 2px;
  }
}
.left {
  .arm {
    position: absolute;
    margin: 230% 0 0 110%;
    transform: rotate(45deg);
    stroke-width: 2px;
  }
  .leg {
    position: absolute;
    transform: rotateY(180deg) rotate(5deg);
    margin: 430% 0 0 140%;
    stroke-width: 2px;
  }
}
.arm > line {
  animation: daynightchar 20s infinite linear;
}
.leg > line {
  animation: daynightchar 20s infinite linear;
}

@keyframes daynightchar {
  0% {
    stroke: black;
  }
  25% {
    stroke: black;
  }
  45% {
    stroke: black;
  }
  46% {
    stroke: white;
  }
  78% {
    stroke: white;
  }
  79% {
    stroke: black;
  }
  100% {
    stroke: black;
  }
}