.header {
  margin-top: 50%;
  text-align: center;
  h1 {
    font-size: 40pt;
    font-weight: 200;
    opacity: 0;
    display: none;
  }
  h2 {
    margin-top: 80%;
    font-size: 20pt;
    font-weight: 200;  
  }
}
